flows.json
[{"id":"979bcd77.69694","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6721e6fc.5d3438","type":"inject","z":"979bcd77.69694","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["e52f4810.b3d3b8"]]},{"id":"93a7bc79.6b7c5","type":"debug","z":"979bcd77.69694","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"e52f4810.b3d3b8","type":"watson-conversation-v1","z":"979bcd77.69694","name":"test bot","workspaceid":"af49d819-9507-470b-8457-adb18ab892d0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/dc0a5ed5-a359-4fc5-96a8-8936b27dc570","timeout":"","optout-learning":false,"x":360,"y":140,"wires":[["2ee6f7f9.290308"]]},{"id":"2ee6f7f9.290308","type":"function","z":"979bcd77.69694","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":180,"wires":[["93a7bc79.6b7c5","366fd98d.0dc246"]]},{"id":"6c981697.ffd898","type":"ui_form","z":"979bcd77.69694","name":"","label":"","group":"875d1f19.aef27","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["75a414c6.415d7c"]]},{"id":"75a414c6.415d7c","type":"function","z":"979bcd77.69694","name":"Input parsing","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["e52f4810.b3d3b8","742f2600.94d3d8"]]},{"id":"742f2600.94d3d8","type":"ui_text","z":"979bcd77.69694","group":"875d1f19.aef27","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":340,"wires":[]},{"id":"366fd98d.0dc246","type":"ui_text","z":"979bcd77.69694","group":"875d1f19.aef27","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":260,"wires":[]},{"id":"875d1f19.aef27","type":"ui_group","z":"","name":"help desk","tab":"f955dfcc.9271f","order":1,"disp":true,"width":"6","collapse":false},{"id":"f955dfcc.9271f","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]